<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Job Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/16.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title> Nannies </ion-card-title>
        <p>
          These dedicated passionate children loving people are here to give
           the tender care a mother gives.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/21.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title> Housemaids </ion-card-title>
        <p>
          They handle multiple tasks specifically general housekeeping and baby care.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/15.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title> Shamba boys </ion-card-title>
        <p>
          Whether it is a garden, backyard gardens, shamba or a farm look no further.
          Also they take care of your pets.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/12.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title> Housekeeping </ion-card-title>
        <p>
          While away due to work, safari, vacation name it. Our principled and
          trustworhty housekeepers
          maintain your house to ensure the feeling "like I never left".
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/22.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title> Cooking </ion-card-title>
        <p>
          Could be a party, improptu meeting, dinner date or spoiling yourself.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/23.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title> Laundry </ion-card-title>
        <p>
          We know you have multitudes of tasks at hand and when clothes pile up in a
          week our laundry handlers will get them clean and set you for the week.
        </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
