<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Find worker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar>  </ion-searchbar>

  <ion-list nolist>
      <ion-card>
      <ion-avatar slot="start">
        <img src="/assets/images/avatar.png">
      </ion-avatar>
      <p> Maid in Muyenga </p>
    </ion-card>

      <ion-card>

      <ion-avatar slot="end">
        <img src="/assets/images/avatar.png">
      </ion-avatar>
      <p> Maid in Mbale </p>
  </ion-card>

    <ion-card>
      <ion-avatar slot="start">
        <img src="/assets/images/avatar.png">
      </ion-avatar>
      <p> Shamba boy in Entebbe </p>
    </ion-card>
    <ion-card>
      <ion-avatar slot="end">
        <img src="/assets/images/avatar.png">
      </ion-avatar>
      <p> Nanny in Arua </p>
    </ion-card>
  
    <ion-card>
      <ion-avatar slot="start">
        <img src="/assets/images/avatar.png">
      </ion-avatar>
      <p> Housekeeper in Kitgum </p>
    </ion-card>
  </ion-list>

</ion-content>
